*{
	margin: 0;
	padding: 0;
}
html,
body{
	font-family: 'Poppins';
	font-size: 15px;
}
html {
  scroll-behavior: smooth;
}

/*header ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ */

.header__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 0;
}
.header__logo-small{
	display: none;
	width: 100%;
}

.nav{
	display: flex;
	align-items: center;
}
.nav__link{
	margin-right: 35px;
	color: #555555;
	text-decoration: none;
	font-weight: 600;
}
.nav__link:last-child{
	margin-right: 0;
}
.nav__link:hover{
	color: #9D60EB;
}
.nav__link-active{
	color: #9D60EB;
	position: relative;
}
.nav__link-active::after{
	content: '';
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #9D60EB;
	position: absolute;
	bottom: -8px;
	left: calc(50% - 4px);
}

.show__nav{
	display: none;
}

.header-fixed{
	background-color: rgba(255, 255, 255, .95);
	box-shadow: 0 0 20px 0 rgba(180,138,243,.9);
	transition: .2s ease;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
}
.header-fixed .header__inner{
	padding: 15px 0;
}


/*intro ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ */

.intro{
	margin-bottom: 195px;
	background-image: url(../images/intro/background.svg);
	background-size: cover;
	text-align: center;
}
.intro__inner{
	padding-top: 15px;
}
.intro__title{
	font-size: 46px;
	line-height: 1.26;
}
.intro__subtitle{
	max-width: 50%;
	margin: 20px auto 35px;
}
.intro__buttons{
	display: flex;
	justify-content: center;
}
.intro__buttons .primary-button{
	margin-right: 35px;
}
.intro__image{
	margin-top: 20px;
}
.intro__image img{
	display: block;
	width: 100%;
	pointer-events: none;
}


/*about ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ */

.home__about-intro{
	display: flex;
	justify-content: space-between;
	margin-bottom: 110px;
}
.home__about-left{
	width: 45%;
	padding-top: 70px;
}
.home__about-left .title,
.home__about-left .title-bold{
	font-size: 36px;
}
.home__about-left .text{
	margin: 25px 0;
}
.home__about-left a{
	display: block;
	width: 145px;
	box-sizing: border-box;
}
.home__about-right{
	width: 55%;
}
.home__about-right img{
	display: block;
	width: 100%;
	height: 100%;
}


/*we help you ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ */

.we-help-you__inner{
	display: flex;
	justify-content: space-between;
}
.we-help-you-left{
	width: 55%;
}
.we-help-you-left img{
	display: block;
	width: 100%;
	height: 100%;
}
.we-help-you-right{
	width: 45%;
	padding-top: 110px;
	font-size: 36px;
}
.we-help-you-right .text{
	margin-top: 25px;
}


/*speciality ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ */

.speciality__inner{
	margin: 110px 0 130px;
	padding-bottom: 80px;
	text-align: center;
	overflow-x: hidden;
	user-select: none;
	position: relative;
}
.speciality__inner>.title,
.speciality__inner>.title-bold{
	font-size: 36px;
}
.speciality__carousel{
	display: flex;
	margin-top: 40px;
	transition: .3s ease-in;
	cursor: pointer;
	position: relative;
	left: 0;
}
.speciality__carousel-items-wrapper{
	display: flex;
	justify-content: space-between;
	flex-shrink: 0;
	width: 100%;
	padding: 30px;
	box-sizing: border-box;
}
.speciality__carousel-item{
	max-width: 32%;
	padding: 40px 20px 55px;
	font-size: 24px;
	box-shadow: 0 10px 30px rgba(153,153,153,.2);
	user-select: none;
	pointer-events: none;
	box-sizing: border-box;
}
.speciality__carousel-item-photo{
	width: 210px;
	height: 210px;
	margin: 0 auto 15px;
	border-radius: 50%;
}
.speciality__carousel-item-photo img{
	display: block;
	width: 100%;
}
.speciality__carousel-item-text{
	margin-top: 15px;
}

.speciality__carousel-buttons{
	display: flex;
	justify-content: center;
}
.speciality__carousel-btn{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	box-shadow: 0 10px 30px rgba(153,153,153,.2);
	font-size: 35px;
	line-height: 1;
	cursor: pointer;
	transition: .2s linear;
}
#speciality__carousel-prev{
	margin-right: 30px;
}
.speciality__carousel-btn:hover{
	box-shadow: 0 10px 30px rgba(153,153,153,.4);
	transform: scale(1.05);
}

/*products ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ */

.products__inner{
	text-align: center;
}
.products__inner>.title{
	margin-bottom: 25px;
	font-size: 36px;
}
.products__subtitle{
	max-width: 50%;
	margin: 0 auto 40px;
}
.products__items{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 50px;
}
.products__item{
	width: 32%;
	margin-bottom: 30px;
	padding: 50px 30px;
	box-shadow: 0 10px 30px rgba(153,153,153,.2);
	border-radius: 8px;
	box-sizing: border-box;
}
.products__item-higher{
	transform: translateY(-50px);
}
.products__item-text{
	margin: 40px 35px;
	color: #999999;
}
.products__item-link{
	color: #49BE55;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	transition: .2s linear;
}
.products__item-link:hover{
	color: #34A940;
	font-size: 17px;
}


/*testimonials ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ */

.testimonials{
	max-width: 1350px;
	margin: 110px auto 100px;
	text-align: center;
}
.testimonials__inner>.title{
	font-size: 36px;
}

.testimonials__wrapper{
	display: flex;
	justify-content: space-between;
}
.testimonials__container{
	width: 60%;
	margin: 0 auto;
}
.testimonials__items{
	margin-bottom: 35px;
	position: relative;
}
.testimonial__item{
	flex-shrink: 0;
	margin: 0 auto;
	color: #222222;
	background-color: rgba(0, 0, 0, .2);
	border-radius: 5px;
	box-sizing: border-box;
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 0;
	z-index: -100;
}
.testimonial__item-active{
	display: block;
	background-color: #fff;
	opacity: 1;
	position: relative;
	z-index: 10;
}
.testimonial__item-photo{
	width: 187px;
	height: 187px;
}
.testimonial__item-text{
	display: flex;
	justify-content: space-around;
	cursor: pointer;
}
.testimonial__item-text p{
	width: 80%;
	font-size: 24px;
	color: #333333;
}
.testimonial-full{
	display: none;
}
.testimonial__item-quote-img:last-child{
	transform: scale(-1, 1);
}
.testimonial__item-name{
	margin: 30px 0 20px;
	font-size: 16px;
	font-weight: 600;
}

.testimonials__buttons{
	display: flex;
	justify-content: center;
}
.testimonials__button{
	font-size: 30px;
	cursor: pointer;
}
.testimonials__button:first-child{
	margin-right: 30px;
}

.testimonials__sidebar{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 20%;
	flex-shrink: 0;
}
.testimonials__sidebar .show__testimonial:last-child img{
	position: absolute;
	bottom: 0;
	left: 20%;
}
.show__testimonial{
	width: 100%;
	height: 33.33333%;
	user-select: none;
	box-sizing: border-box;
	position: relative;
}
.show__testimonial img{
	border-radius: 50%;
	transition: .2s ease;
	cursor: pointer;
}


/*contact us ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ*/

.contact-us{
	background-image: url(../images/form/background.svg);
	background-position: center;
	background-size: cover;
	text-align: center;
}
.contact-us__inner{
	padding: 60px 0;
}
.contact-us__title{
	font-size: 36px;
	user-select: none;
}
#contact__us-form{
	max-width: 770px;
	margin: 35px auto 0;
	padding: 60px 50px;
	background-color: #fff;
	border-radius: 8px;
	text-align: left;
	box-shadow: 0 10px 30px rgba(153,153,153,.2);
	box-sizing: border-box;
}
.contact__us-form-label{
	display: block;
	color: #222222;
	font-weight: 600;
}
.contact__us-form-item{
	display: block;
	width: 100%;
	margin-top: 15px;
	padding-bottom: 15px;
	color: #C2C2C2;
	border: none;
	border-bottom: 1px solid #E5E5E5;
	font-family: 'Poppins';
}
.contact__us-form-item:focus,
#contact__us-form-select:focus,
#contact__us-form-textarea:focus{
	outline: 1px solid transparent;
	box-shadow: 0 0 5px 1px #B48AF3;
}
.contact__us-form-name-field{
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;
}
.contact__us-form-wrapper{
	width: 47%;
}
.contact__us-form-email-field{
	margin-bottom: 35px;
}
.contact__us-form-select-field{
	margin-bottom: 35px;
}
.contact__us-form-select-wrapper{
	margin-top: 15px;
	position: relative;
}
.contact__us-form-select-wrapper::after{
	content: url(../images/form/select-arrow.svg);
	width: 9px;
	height: 9px;
	transition: .2s ease-out;
	pointer-events: none;
	position: absolute;
	top: -5px;
	right: 10px;
}
#contact__us-form-select{
	display: block;
	width: 100%;
	padding-bottom: 15px;
	color: #C2C2C2;
	font-size: 15px;
	border: none;
	border-bottom: 1px solid #E5E5E5;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
#contact__us-form-select option{
	font-family: 'Poppins';
	font-size: 15px;
	background-color: #fff;
	color: #888888;
	border: 1px solid #C2C2C2;
	transition: .2s linear;
	cursor: pointer;
}
#contact__us-form-textarea{
	display: block;
	width: 100%;
	min-height: 80px;
	margin-top: 15px;
	padding: 5px;
	color: #757575;
	border: none;
	border-bottom: 1px solid #E5E5E5;
	resize: none;
	font-family: 'Poppins';
	font-size: 15px;
	box-sizing: border-box;
}
.contact-us-submit{
	margin-top: 35px;
}


/*main footer ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ ゴ*/

.main-footer{
	background-image: url(../images/footer/background.svg);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100%;
}
.main-footer{
	padding: 85px 0 135px;
}
.footer__logo{
	text-align: center;
}
.main-footer-wrapper{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 70px 0 110px;
}
.footer__col-title{
	margin-bottom: 30px;
	font-size: 16px;
	font-weight: bold;
	line-height: 1;
}
.main-footer-wrapper a{
	display: block;
}
.footer__col-item{
	display: flex;
	align-items: center;
	margin-bottom: 25px;
}
.footer__col-item img{
	margin-right: 20px;
}
.footer__col-item-text{
	margin-bottom: 15px;
	color: #777777;
	text-decoration: none;
	font-style: normal;
}
.footer__col-item .footer__col-item-text{
	margin-bottom: 0;
}
.footer__col-item-text:hover{
	text-decoration: underline;
}
.main-footer__social{
	display: flex;
}
.main-footer__copyright{
	text-align: center;
}
.footer__col-social{
	margin-right: 20px;
	text-decoration: none;
	transition: .3s ease;
}
.footer__col-social:hover{
	transform: scale(1.15);
}
.footer__col-social:last-child{
	margin-right: 0;
}
.main-footer__copyright{
	color: #999999;
	font-size: 12px;
	text-decoration: underline;
}